#!/bin/sh

set -eu

REMOTE_HOST="{{wireguard_ips[wireguard_peer[inventory_hostname]]}}"
SESSION_FILE="session.json"
SENT_FILE="$SESSION_FILE.sent"
PENDING_FILE="$SESSION_FILE.pending"

put_file() {
  cp "$SESSION_FILE" "$PENDING_FILE"
  printf "put %s %s\n" "$PENDING_FILE" "$SESSION_FILE" | sftp -b - "$REMOTE_HOST"
  mv "$PENDING_FILE" "$SENT_FILE"
}

if [ ! -r "$SESSION_FILE" ]; then
  exit 1
fi

if [ -e "$SENT_FILE" ]; then
  if [ "$SENT_FILE" -nt "$SESSION_FILE" ]; then
    exit 0
  fi
fi

put_file
