DISCORD_TOKEN={{keybot_token}}
DISCORD_GUILD={{keybot_guild}}
DISCORD_CHANNEL={{streambot_channel}}
WEBHOOK_CHANNEL={{streambot_webhook_channel}}
BOT_ID=0
PING_ROLE_ID={{streambot_notify_role}}


user={{streambot_api_user}}
pass={{streambot_api_pass}}
