[Unit]
Description=Discord bot to notify when streams change
After=network.target

[Service]
ExecStart={{streambot_virtualenv_path}}/bin/python3 ./start.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
User=streambot
WorkingDirectory=/home/streambot/emsbot-main

[Install]
WantedBy=multi-user.target
