%ems_admin ALL = NOPASSWD: /usr/bin/journalctl, {% for service in allow_restart_services %}{% for action in ['status', 'restart'] %}{% for postfix in ['', '.service'] %}/usr/bin/systemctl {{action}} {{service}}{{postfix}}{% if not loop.last %}, {% endif %}{% endfor %}{% if not loop.last %}, {% endif %}{% endfor %}{% if not loop.last %}, {% endif %}{% endfor %}
