# rtmp control, loopback only
server {
        listen 127.0.0.1:8008;
        location /control {
                rtmp_control all;
        }
}

{% if ssl_enabled|default(false) %}
# port 80, redirect to https (except acme)
server {
        listen 80 default_server;

        location /.well-known/acme-challenge {
                root /var/www/acme;
        }

        location / {
                return 302 https://$host$request_uri;
        }
}
{% endif %}

# intermediate for rtmp updates, fallback so we can stop/start the manager
# without killing streams
server {
        listen 127.0.0.1:8088 default_server;

        proxy_set_header X-SKM-Server {{inventory_hostname}};

        location / {
          proxy_pass http://127.0.0.1:8000;
        }

        location /update {
                proxy_pass http://127.0.0.1:8000;
                error_page 502 =200 /fakeok;
        }

        location = /fakeok { return 200; }
}

{% if not is_staging %}
{% if inventory_hostname in groups['key_manager'] %}
# forwarder to allow secondary servers to get to the key manager
server {
  listen 10.100.0.1:8000;

  location / {
    proxy_pass http://127.0.0.1:8000;
  }
}
{% else %}
# forwarder to re-route traffic to the main key manager
server {
	listen 127.0.0.1:8000 default_server;

	location / {
		proxy_pass http://10.100.0.1:8000;
	}
}
{% endif %}
{% endif %}

{% if ssl_enabled|default(false) %}
# port 443, the real deal
{% endif %}
server {
        listen {% if ssl_enabled|default(false) %}443 ssl http2{% else %}80{% endif %} default_server;
        server_name {{inventory_hostname}};

        {% if ssl_enabled|default(false) %}
        ssl_certificate /etc/letsencrypt/live/{{inventory_hostname}}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{inventory_hostname}}/privkey.pem;
        {% endif %}

        auth_basic "Restricted Area";
        auth_basic_user_file /var/www/ems/htpasswd;

        root /var/www/ems/htdocs;

        location /.well-known/acme-challenge {
                root /var/www/acme;
        }

        location /log {
                alias /var/www/ems/log;
                autoindex on;
                default_type text/plain;
        }

        location / {
                rtmp_stat all;
                rtmp_stat_stylesheet stat.xsl;
        }

        location = /stat.xsl {
        }

        location /api {
                proxy_pass http://127.0.0.1:8000;
        }

{% if inventory_hostname in groups['key_manager'] %}
        location /api/nbe {
                include uwsgi_params;
                uwsgi_pass unix:///run/uwsgi/nbe.socket;
        }
        location /api/nbe/get-streamer-info {
                include uwsgi_params;
                auth_basic off;
                uwsgi_pass unix:///run/uwsgi/nbe.socket;
        }

        {% for loc in ['add-streamer-info'] -%}
        location /api/nbe/{{loc}} {
                auth_basic_user_file /var/www/ems/nbe.htpasswd;
                include uwsgi_params;
                uwsgi_pass unix:///run/uwsgi/nbe.socket;
        }

        {% endfor %}
{% else %}
        location /api/nbe {
                return 302 $scheme://{{groups['key_manager'][0]}}$uri;
        }
{% endif %}

}
