rtmp {
        server {
                listen 1935;

                buflen 5s;

                application live {
                        live on;
                        # This messes with stats and doesn't seem to help
                        # session_relay on;
{% if use_stokesy %}
                        push rtmp://rtmp.stokesy.net/live;
{% elif restream_key|default(false) %}
                        push rtmp://live.restream.io/live/{{restream_key}};
{% endif %}
                        on_publish http://127.0.0.1:8088/publish;
                        on_publish_done http://127.0.0.1:8088/publish_done;
                        on_update http://127.0.0.1:8088/update;
                        on_play http://127.0.0.1:8088/play;
                        notify_update_timeout 4s;
                }
        }
}
