DISCORD_TOKEN={{keybot_token}}
DISCORD_GUILD={{keybot_guild}}
DISCORD_CHANNEL={{keybot_channel}}
KEYADMIN_ROLE={{keybot_role}}
KEYSERVER_URL={{keybot_url}}
ICS_URL={{ems_calendar_url}}
NOTIFY_MESSAGE_ID={{keybot_notify_message_id}}
NOTIFY_ROLE_ID={{keybot_notify_role_id}}
NBE_USER={{keybot_api_user}}
NBE_PASSWORD="{{keybot_api_pass}}"
{% if is_staging %}
NBE_URL=http://localhost
{% else %}
NBE_URL=http{% if ssl_enabled %}s{% endif %}://{{ groups['key_manager'][0] }}
{% endif %}
WEBHOOK_CHANNEL={{streambot_webhook_channel}}
NOTIFICATION_CHANNEL={{streambot_channel}}
