[Unit]
Description=Discord bot to manage stream keys
After=network.target

[Service]
ExecStart={{keybot_virtualenv_path}}/bin/python ./bot.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
User=ems
WorkingDirectory=/home/ems/keybot-main

[Install]
WantedBy=multi-user.target
