[Interface]
Address = {{wireguard_ips[inventory_hostname]}}/{{wireguard_sub}}
ListenPort = 51820
PrivateKey = {{wireguard_private_keys[inventory_hostname]}}

[Peer]
PublicKey = {{wireguard_keys[wireguard_peer[inventory_hostname]]}}
AllowedIPs = {{wireguard_range}}/{{wireguard_sub}}
Endpoint = {{wireguard_peer[inventory_hostname]}}:51820
