{
  "webhook_url": "{{discord_webhook_url}}",
  "thumbnail_url": "https://cdn.discordapp.com/attachments/758341897453437049/758342103779901440/EMS.png",
  "link_url": "http://youtube.com/c/EarthModularSociety/live",
  "notify_id": "756329671762772049"
}
